[ ca ]
default_ca			= CA_default

[ CA_default ]
default_days 		= 3650
default_crl_days	= 30
default_md			= sha256
preserve 			= no
x509_extensions 	= ca_extensions
unique_subject 		= n

[ policy_match ]
organizationName 		= supplied

[ req ]
prompt                  = no
default_bits 			= 4096
default_keyfile 		= generated/rootCAkey.pem
distinguished_name 		= ca_distinguished_name
x509_extensions 		= ca_extensions
string_mask 			= utf8only

[ ca_distinguished_name ]
C  = US
ST = CA
L  = MVT
O  = TestOrg
OU = Cloud/CN=TestCA

[ ca_extensions ]
subjectKeyIdentifier 	= hash
authorityKeyIdentifier 	= keyid:always, issuer
basicConstraints 		= critical, CA:true
keyUsage 			    = keyCertSign, cRLSign
